# **Tutorial de Python**

¿Qué es Python?

Es un lenguaje de alto nivel de programación interpretado y de proposito general.
Es conocido por la facilidad de usarlo y legible, lo que ayuda al aprendizaje para principiantes 
y ayuda a mejorar la productividad para desarrolladores experimentados.
Se utiliza en diversos campos como analistas de datos, desarrolladores web, IA, entre otros.

## **Cometarios y tipo de letras en Python**


Cometarios
   - En python para realizar comentarios o explicaciones sobre algunos codigos, deberas utilizar el signo (#) y luego el comentario o reseña. 
   - Puedes dejar un espacio o escribir seguido, es tu decisión.

Tipos de letras
   - Para poner la letra negrita utilizamos el siguente caracter (**asi**), en el gion bajo iria tu texto o palabra
   - Para poner la letra cursiva utilizamos el signo (*asi*),en el gion bajo iria tu texto o palabra
   - Tambien podemos combinar la letra negrita y cusrsiva con el sigiente caracter (***asi***),en el gion bajo iria tu texto o palabra
   - Para poner la letra subrayada utlizamos el siguiente caracter (~~asi~~)


Comentarios
   - #Asi puede ir tu comentario
   - #Asi tambien puede ir


Tipos de letras

   - **Texto en negrita**
   - *Texto en curisva*
   - ***Texto en negrita y cursiva***
   - ~~Texto subrayado~~

## **Tipos de datos y variables**

### *Variables*

las variables se usan para guardar información, no hay que confirmar el tipo de variables ya que python lo infiere automaticamente.

Debes tener en cuenta lo siguiente al nombrar las variables
  - No utilizar el nombre de la variable con espacios, en caso de ser necesario utiliza (_)
  - No utilizar números, ni caracteres especiales al momento de nombrar la variable
  - Usa nombres alusivos al contenido de la variable

In [26]:
# Ejemplo 1 de variable
Nros_impares = 1,3,5,7,9,11,13
Nros_impares

(1, 3, 5, 7, 9, 11, 13)

In [27]:
# Ejemplo 2 de variable
Peso = 68, 56, 45, 40, 89
Peso

(68, 56, 45, 40, 89)

In [1]:
# Para mostrar el tipo de dato
type()

# Para mostrar los resultados  de varias operaciones en pantalla
print()

TypeError: type() takes 1 or 3 arguments

## **Operaciones Matemáticas**

En Python puedes realizar una serie de operaciones cuantitativas que serian las siguientes:

In [52]:
# Operaciones Aritméticas
suma = 2+5
print(suma)
resta = 5-2
print(resta)
multiplicacion = 6*9
print(multiplicacion)
division = 5/4
print(division)
modulo = 4 % 7
print(modulo)
exponente = 4 ** 6
print(exponente)

7
3
54
1.25
4
4096

In [1]:
# Para sacar raiz a los enteros
from math import sqrt
raiz_int = sqrt(100)
print(raiz_int)
print(type(raiz_int))

10.0
<class 'float'>

In [58]:
# Comparación de valores
igual =(5==5)
print(igual)
mayor_que = (5>4)
print(mayor_que)
menor_que = (4<1)
print(menor_que)

True
True
False

In [61]:
# Operaciones lógicos 
and_result = (5 > 3) and (2 < 4)
print(and_result)
or_result = (5 > 3) or (2 > 4)
print(or_result)
not_result = not (5 > 3)
print(not_result)

True
True
False

In [3]:
# Operadores: AND, &, OR. |, NOT, ~
promedio = 4.0
semestre = 5
Buscar_prac = (promedio >= 4.0) and (semestre >5)
Buscar_prac

False

## **Tipos y estructuras de datos básicas**

In [29]:
#números enteros (int)
    # Opción 1
entero = 10
print(entero) 
type(entero)

10

int

In [30]:
#Números enteros (int)
    # Opción 2
print("Entero:", entero)
print("Tipo de dato:", type(entero))
# INT representa los números enteros, positivos y negativos

Entero: 10
Tipo de dato: <class 'int'>

In [31]:
#Flotantes (float), números con decimales
    # Opción 1
flotante = 3.98
print(flotante)
type(flotante)
# FLOAT representan numeros decimales

3.98

float

In [32]:
#Números flotantes (float)
    # Opción 2
print("Flotante:", flotante)
print("Tipo de dato:", type(flotante))
# FLOAT representan numeros decimales

Flotante: 3.98
Tipo de dato: <class 'float'>

In [33]:
#Cadena (str)
    # Opción 1
Cadena = "Buenos días"
print(Cadena)
type(Cadena)
# STR representa texto, se puede escribir con comillas simples ('') o dobles ("")

Buenos días

str

In [34]:
#Cadena (str)
    # Opcion 2
print("Cadena:", Cadena)
print("Tipo de dato:", type(Cadena))
# STR representa texto, se puede escribir con comillas simples ('') o dobles ("")

Cadena: Buenos días
Tipo de dato: <class 'str'>

In [35]:
#Booleanos (bool)
    # Opción 1
booleano = True
print(booleano)
type(booleano)

True

bool

In [36]:
 # Opcion 2
print("Booleano:", booleano)
print("Tipo de dato:", type(booleano))
# BOOL representan valores logicos: True(verdadero) o False(falso)

Booleano: True
Tipo de dato: <class 'bool'>

In [ ]:
# el NOT se utiliza para invertir la relación, para el codigo
condicion = 4 < 6
print(condicion)
print(not(condicion)) #aqui aunque sea verdadera la condicion, el not lo invierte

True
False

In [37]:
#Listas (list)
    # Opción 1
lista = [1, 2, 3]
print(lista)
type(lista)
# LIST son colecciones ordenadas y modificables de elementos, puede tener diferentes tipos de datos
    #Ejemplo: [1, 2, 3] o ["a","b","c"]

[1, 2, 3]

list

In [38]:
 # Opcion 2
print("Lista:", lista)
print("Tipo de dato:", type(lista))
# LIST son colecciones ordenadas y modificables de elementos, puede tener diferentes tipos de datos
    #Ejemplo: [1, 2, 3] o ["a","b","c"]

Lista: [1, 2, 3]
Tipo de dato: <class 'list'>

Python ofrece varias estructuras de datos incluidas que permiten almacenar colecciones de datos de diferentes formas.

Haremos un ejemplo donde se realizaran diversas estructuras que puede tener el tipo de dato **lista (list)**

In [39]:
List = [1, 2, 3]  
List.append(11)    
print(List) 

# El método .append() es una función muy útil en Python que es exclusivamente con listas(list)

[1, 2, 3, 11]

In [40]:
# Para mostrar las posiciones de los elementos de la lista (empieza desde cero(0))
print(List[0])
print(List[1])
print(List[2])
print(List[3])

# Este codigo sirve para acceder a los elementos de una lista por su posición (indice)

1
2
3
11

In [41]:
# Para unir listas haremos lo siguiente
List_1 = ["nevera", "lavadora", "microondas"]
List_1 + List

['nevera', 'lavadora', 'microondas', 1, 2, 3, 11]

In [42]:
List_1.remove("nevera")
print(List_1)

['lavadora', 'microondas']

In [43]:
# Para incluir elementos en una posición de la lista
List_1.insert(0, "televisor")
print(List_1)

['televisor', 'lavadora', 'microondas']

In [46]:
# Para ordenar una lista de variables
List_2 = [8.9, 3.7, -4.7]
print(f"Forma original: {List_2}")
List_2.sort()
print(f"Forma original:{List_2}")

Forma original: [8.9, 3.7, -4.7]
Forma original:[-4.7, 3.7, 8.9]

In [47]:
# Paraordenar en datos el número de identificacion de una persona 
nros_cc = "1.036.449.040"
print(f"Forma original: {nros_cc}")
nros_cc_puro = nros_cc.replace(".","").strip()
print(f"Forma natural:{nros_cc_puro}")

Forma original: 1.036.449.040
Forma natural:1036449040

Haremos un ejemplo donde se realizaran diversas estructuras que puede tener el tipo de dato **Tuplas (tuple)**

In [ ]:
#Tupla (tuple)
    # Opción 1
tupla = (1,2,3)
print(tupla)
type(tupla)
# TUPLE son condiciones ordenadas pero inmutables (no se pueden modificar después de creadas)

(1, 2, 3)

tuple

In [46]:
# Opcion 2
print("Tupla:", tupla)
print("Tipo de dato:", type(tupla))
# TUPLE son condiciones ordenadas pero inmutables (no se pueden modificar después de creadas)

Tupla: (1, 2, 3)
Tipo de dato: <class 'tuple'>

In [78]:
tup_1 = ("chao", 36, True)
tup_1

('chao', 36, True)

In [79]:
# Para mostrar las posiciones de los elementos de una tupla (Empiezan desde 0)

print(tup_1[0])
print(tup_1[2])
print(tup_1[1])

chao
True
36

In [80]:
tup_2 = (978, "Mujer", True)
tup_2

(978, 'Mujer', True)

In [81]:
tup_3 = (tup_1 + tup_2)
tup_3

('chao', 36, True, 978, 'Mujer', True)

In [83]:
# Es un método para contar el número de elementos repetidos en la tupla

tup_4 = (1, 8, 9, 3, 4, 2)
tup_4.count(2)

1

Haremos un ejemplo donde se realizaran diversas estructuras que puede tener el tipo de dato **Diccionarios (dic)**

In [ ]:
#Diccionario (dict)
diccionario = {"nombre": "Juan", "edad": 25}
print(diccionario)
type(diccionario)
# Son colecciones de pares clave-valor. Cada valor se accede mediante una clave única

{'nombre': 'Juan', 'edad': 25}

dict

In [ ]:
# Opcion 2
print("Diccionario:", diccionario)
print("Tipo de dato:", type(diccionario))
# Son colecciones de pares clave-valor. Cada valor se accede mediante una clave única

Diccionario: {'nombre': 'Juan', 'edad': 25}
Tipo de dato: <class 'dict'>

In [84]:
# Almacenan pares de clave-valor
cliente =  {
    "Nombre": "Santiago", 
    "Apellido": "Suarez", 
    "Edad": "23", 
    "Sexo": "M"}
cliente

{'Nombre': 'Santiago', 'Apellido': 'Suarez', 'Edad': '23', 'Sexo': 'M'}

In [86]:
# Ejemplo:
cliente_2 = {
    "Nombre": "Azul",
    "Apellido": "Mora",
    "Edad": "18",
    "Sexo": "M"
}
cliente_2

{'Nombre': 'Azul', 'Apellido': 'Mora', 'Edad': '18', 'Sexo': 'M'}

### ***Ejemplo codigos explicados***

In [24]:
Nro = (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)

In [27]:
# Miremos el numero de datos que tiene la variable Nro
type(Nro)
# Tuple es colecion de datos ordenada

tuple

In [49]:
print("Numeros:", Nro)
print("Tipo de dato:", type(Nro))

Numeros: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)
Tipo de dato: <class 'tuple'>

In [26]:
Nro = (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)
#Acceder al primer número
print(Nro[0])
#Acceder al último número
print(Nro[-1]) #Salida: 20

1
20

In [ ]:
pares = {num for num in Nro if num % 2 == 0} # Este codigo crea una lista con los numeros pares de la variable Nro
print(pares)

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

In [30]:
impares = {num for num in Nro if num % 2 != 0}
print(impares)

{1, 3, 5, 7, 9, 11, 13, 15, 17, 19}

### ***Sets***

* Colecciones desordenadas de elementos únicos.
* No permite elementos duplicados.
* Se pueden agregar o eliminar elementos.

In [87]:
# Son colecciones desordenadas que no permiten que hayan elementos repetidos

nros = (4, 7, 10, 13, 4)
set_1 = set(nros)
print(set_1)

{10, 4, 13, 7}

In [88]:
nros_2 = [1, 0, -3, 2, 5]
set_2 = set(nros_2)
print(set_2)

{0, 1, 2, 5, -3}

In [89]:
# Algunas operaciones entre conjuntos

print(set_2.intersection(set_1))
print(set_1.union(set_2))
print(set_1.difference(set_2))

set()
{0, 1, 2, 4, 5, 7, 10, 13, -3}
{10, 4, 13, 7}

In [1]:
# Podemos craer conjuntos de diferentes tipos de variables.
conjunto_1 = set(["f", "x", "s"])
conjunto_1

conjunto_2 = set([0, -200, 200])
conjunto_2

# Los conjuntos no permiten que se repita un elemento:
lista = [1, 0, -3, 0, 2, 1] # Creamos una lista
conjunto_3 = set(lista)  # La convertimos en conjunto
conjunto_3 # Aquí vemos que no se repiten los valores de la lista.

{-3, 0, 1, 2}

## **Conversión de tipos de datos**

In [1]:
# Para convertir un entero a float

entero_1 = "20"
float_1 = float(entero_1)
print(float_1, type(float_1))

20.0 <class 'float'>

In [3]:
# Para convertir un string a entero (Cuidado: solo en casos donde el str sea un número)

str_1 = "36"
entero_2 = int(str_1)
print(entero_2, type(entero_2))

36 <class 'int'>

In [4]:
# Para convertir un float a string

float_2 = 17.547
str_2 = str(float_2)
print(str_2, type(str_2))

17.547 <class 'str'>

- En Python puedes usar f-strings para incluir variables en una cadena de texto:

In [2]:
# Primero definimos las variables:
nombre = "Sara"
edad = 21
ciudad = "Caldas,Ant"

# Usamos el F-strings para cambiar la cadena:
mensaje = f"Hola, me llamo {nombre}, tengo {edad} años y vivo en {ciudad}."

# Usamos print() para ver el mensaje en la consola:
print(mensaje)

Hola, me llamo Sara, tengo 21 años y vivo en Caldas,Ant.

In [ ]:
# Otros ejemplos con variables en Python:

# Puedes asignar valores a varias variables:
a, b, c = 1, 2, 3
print(a, b, c)

1 2 3